@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayXXThin.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayXXThin.ttf') 
    format('truetype'); 
    font-weight: 100; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayXThin.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayXThin.ttf') 
    format('truetype'); 
    font-weight: 200; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayThin.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayThin.ttf') 
    format('truetype'); font-weight: 300; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayLight.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayLight.ttf') 
    format('truetype'); font-weight: 400; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayRoman.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayRoman.ttf') 
    format('truetype'); 
    font-weight: 500; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayMedium.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayMedium.ttf') 
    format('truetype'); 
    font-weight: 600; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayBold.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayBold.ttf') 
    format('truetype'); 
    font-weight: 700; font-style: normal; font-display: swap; 
} 
@font-face { 
    font-family: 'Neue Haas Grotesk Display Pro'; 
    src: url('../fonts/neue-haas/NeueHaasDisplayBlack.woff2') 
    format('woff2'), 
    url('../fonts/neue-haas/NeueHaasDisplayBlack.ttf') 
    format('truetype'); 
    font-weight: 900; font-style: normal; font-display: swap; 
}